.menu-background{
    -fx-background-color : transparent;
}

.menu-scroll-pane{
    -fx-background-color: #fff;
    -fx-background-radius : 10px ;
    -fx-background: transparent; 
    /* -fx-border-color: transparent; */
}

.menu-button{
    -fx-background-color : #fff;
    -fx-background-radius : 0px ;
    -fx-border-radius : 0px;
}

.menu-button:hover{
    -fx-background-color : #fff2e8 !important;
}

.meutton:hover{
    -fx-background-color : #fe8b2c ;
}