.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #0070E0; /* Change the text color to blue */
    -fx-padding: 5px; /* Add some padding around the labels */
}

.categoryScrollPane{
    -fx-background-color : #fff; 
    -fx-background-radius : 10px;
    -fx-border-radius : 10px;
    -fx-border-color : transparent;
}

.categoryHBox{
    -fx-background-color : #fff;
}

.categoryButton{
    -fx-background-color : transparent;
    -fx-background-radius : 10px ;
    -fx-border-radius : 10px;
    -fx-border-width:2px;
    -fx-font-size:14px;
    -fx-font-weight:bold;
}

.categoryButton:hover{
    -fx-background-color : #fff2e8 !important;
}

.categoryButton:focused {
    -fx-background-color : #fff2e8; 
    -fx-border-color : #fc8019;
}

.grid{
    -fx-background-color : transparent;

}

.itemsScrollPane{
    -fx-background-color: transparent; 
    -fx-background: transparent; 
    -fx-border-color: transparent;
}