.search{
    -fx-background-radius : 10px
}

.menu-button{
    -fx-background-color : #fff;
    -fx-background-radius : 10px ;
    -fx-border-radius : 10px;
    -fx-border-width:2px;
}

.menu-button:hover{
    -fx-background-color : #fff2e8 !important;
}


.main-butoon{
    -fx-background-color : #fc8019;
    -fx-background-radius : 10px;
}

.main-butoon:hover{
    -fx-background-color : #dc6300;
}

.sub-button{
    -fx-background-color : #f5f5f5;
    -fx-background-radius : 10px;
}

.sub-button:hover{
    -fx-background-color : #dcdcdc;
    -fx-background-radius : 10px;
}