.main-button{
    -fx-background-color : #fc8019;
    -fx-background-radius : 10px;
}

.main-button:hover{
    -fx-background-color : #dc6300;
}

.sub-button{
    -fx-background-color : #f5f5f5;
    -fx-background-radius : 10px;
}

.sub-button:hover{
    -fx-background-color : #dcdcdc;
    -fx-background-radius : 10px;
}

.proceed-button{
    -fx-background-color : #09aa29;
    -fx-background-radius : 10px;
}

.proceed-button:hover{
    -fx-background-color : #007a18;
}

.spe-background{
    -fx-background-color :#fff2e8;
    -fx-background-radius : 10px;
}

.spe-botton{
    -fx-background-color : transparent;
    -fx-background-radius : 10px;
}

.spe-botton:hover{
    -fx-background-color : #ffd8ba !important;
}

.scroll-pane{
    -fx-background-color: transparent; 
    -fx-background: transparent; 
    -fx-border-color: transparent;
}

.anchor-pane{
    -fx-background-color: #fff; 
}

.other-backgrouns{
    -fx-background-color: #f5f5f5;
}

.text-button{
    -fx-background-color : transparent;
    -fx-background-radius : 10px;
}

.text-button:hover{
    -fx-underline: true;
}

.cancel-button{
    -fx-background-color: transparent; 
    -fx-background-radius : 50px ;
    -fx-border-radius : 50px;
}

.cancel-button:hover{
    -fx-background-color: #7f7f7f69;
}