.proceed-button{
    -fx-background-color : #09aa29;
    -fx-background-radius : 10px;
}

.proceed-button:hover{
    -fx-background-color : #007a18;
}

.scroll-pane{
    -fx-background-color: transparent; 
    -fx-background: transparent; 
    -fx-border-color: transparent;
}

.anchor-pane{
    -fx-background-color: #fff; 
}

.other-backgrouns{
    -fx-background-color: #f5f5f5;
}
